.albumSong {
  align-items: center;
  border: solid 1px #0001;
  border-radius: 1rem;
  color: var(--dark-green);
  display: flex;
  flex-direction: column;
  max-width: 400px;
  padding: 1rem 0;
  text-align: center;
  width: 100%;
}

.albumSong:hover {
  box-shadow: var(--shadow);
  transform: scale(102%);
  transition: ease-in-out 0.5s;
}

.favCheckbox {
  display: none;
}

.trackName {
  text-align: center;
}

.audioAndFav {
  align-items: center;
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;
  min-width: 260px;
  padding: 0.5rem;
  width: 100%;
}

.audioAndFav audio {
  max-width: 260px;
}

.audioAndFav p {
  display: none;
}

.heartFill {
  cursor: pointer;
  fill: rgb(243, 91, 91);
  height: 20px;
  transition: ease-in-out 0.5s;
  width: 20px;
}

.heartFill:hover {
  transform: scale(1.4);
}

.heartBold {
  cursor: pointer;
  fill: var(--grey);
  height: 20px;
  transition: ease-in-out 0.5s;
  width: 20px;
}

.heartBold:hover {
  transform: scale(1.4);
}

@media screen and ( max-width : 410px ) {

  .albumSong {
    border: none;
    gap: 1rem;
  }

  .audioAndFav audio {
    max-width: 200px;
  }

  .trackName {
    max-width: 200px;
  }
}

@media screen and ( min-width : 500px ) {

  .albumSong {
    gap: 0;
    padding: 1rem;
  }

  .audioAndFav audio {
    max-width: 100%;
  }
}
