.logoContainer {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  justify-content: center;
  user-select: none;
}

.logoContainer div {
  display: flex;
  font-weight: 600;
  gap: 0.2rem;
  justify-content: center;
}

.logoContainer div svg {
  fill: var(--light-green);
  font-size: 2.5rem;
}

.logoContainer p {
  font-size: 1.5rem;
  font-weight: 300;
  margin-top: -1rem;
}
