* {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
}

:root {
  --border: red solid 1px;

  --white: #FAFAF6;

  --white-95: #f2f2f2;

  --grey: #ACAFB3;

  --dark-grey: #20252A;

  --blue: #3f64fb;

  --light-green: #3ad188;

  --green: #2D7A5F;

  --dark-green: #05352E;

  --red: #f35b5b;

  --shadow: #0001 0 0.2rem 0.4rem 0.1rem;

  --shadow-2: #0004 0 0.2rem 0.7rem 0.2rem;

  --trybe-color: #1eb720;
}
